/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
.head-section
.body-section
{
    font-size: 20px;
    margin:50px 200px 0 200px;
}

.titolo-grande{
    color: #E53170;
    font-size: 30px;
}

.paragrafo, 
.titolo-grande{
    text-align: center;
}

.paragrafo{
    padding: 100px 0 50px 0;
}

.box{
    background-color: #0F0E17;
    border: 20px solid blue;
}

img{
    width:150px;
} 

.box, 
.photo{
    float: left;
    width: 33%;
}

h2{
    color: white;
}

h3{
color: cornflowerblue;
}

h2,
h3{
    margin-top:10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}