/* RESET */
body{
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head-section{
    text-align: center;
    margin:100px 200px 0 200px;
}

.titolo-grande{
    color: #E53170;
    font-size: 30px;
}

.paragrafo{
    padding: 100px 0 50px 0;
}


.body-section{
    width: 1562px;
    height: 460px;
    border: 4px solid magenta;
    margin-left: 200px;
}

img{
    width: 150px;
    height: 150px;
}

.name{
    float: left;
    width: 750px;
    height: 150px;
    border: 4px solid blue;
}

.img{
    float: left;
    margin-right: 50px;
    width: 200px;
    height: 150px;
    border: 5px solid red;
}

h2,
h3{
    margin-top: 10px;
}

.business-card{
}    